<!DOCTYPE html>
<html>
<body>
<% @course.articles.each do |c| %>
  <h1><%= c.title %></h1>
  <% end %>
<%= bootstrap_form_for [@course, @article] do |f| %>
  <%= f.text_field :intro, label: "Write an introduction" %>


<%= render "iframe" %>

  <%= f.text_field :outro, label: "Write an outro:" %>

<%= f.primary %>
<% end %>
<br>
<!-- button to delete -->

</body>
</html>
