<h1><%= @article.course.name %></h1>
<h3><%= @article.course.topic.title %></h3>

<%= bootstrap_form_for [@course, @article] do |f| %>
  <%= f.text_field :title, label: "Article title" %>
  <%= f.primary %>
<% end %>
