<h1 class="mb-2"><%= @course.name %></h1>

<div class="mb-4">
  <%= bootstrap_form_for @course do |f| %>
    <%= f.text_area :overview, label: "Give an introduction to your course:" %>
    <%= f.text_area :conclusion, label: "What's next?" %>
    <%= f.primary %>
  <% end %>
</div>
