<!-- view a course -->
<h1><%= @course.name %></h1>
<p><%= @course.overview %></p>
<%= @course.articles.each do |a| %>
<%= link_to a.title, article_path(a) %>
<% end %>
<p> <%= @course.conclusion %> </p>
<%= link_to "Edit course", edit_course_path(@course) %>
